<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://external-preview.redd.it/lS15HBEbnBjBnAHpKJ2-CrMylW1sNSA0KJ7gDcg5ADk.jpg?auto=webp&s=1754f6602a1bf91485fdedb2b7c5c5708b38e10b);">
  <div class="container">
    <h1>Fish anywhere!</h1>
    <p>Change your life, learn to fish.</p>
  </div>
</div>


<div class="items-grid">
      <% @items.each do  |item| %>
        <div class="card">
          <%= link_to item_path(item) do %>
            <div class="item-card">
              <p class="item-name"><%= item.name %></p>
            </div>
          <% end %>
          <p><strong class="card-strong"><%= item.category %> </strong></p>
          <p><strong class="card-strong">Model: </strong><%= item.model %></p>
          <p class="item-price"><strong class="card-strong">Price: </strong><%= item.price_daily %>€/day</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
